@import "../_variables.scss";

.field {
  margin-bottom: 10px;
}

.field__label {
  font-weight: 600;
  font-size: 1.12em;
}

.field--type-google-map-field {
  h2 {
    font-size: $baseFontSize;
    color: $baseFontColor;
    margin: 0 0 10px;
  }
}

.google-map-field .map-container {
  width: 100%;
  height: 350px;
  height: 38vh;
}

.field--type-daterange {
  .field__item {
    font-weight: bold;

    > * {
      font-weight: normal;
    }
  }
}