@import "../_variables.scss";

body {
  font-size: $baseFontSize;
}

h1, .h2 {
  font-size: $baseFontSize * 1.8;
}

h2, .h2 {
  font-size: $baseFontSize * 1.4;
}

a {
  transition: color 0.14s;

  &:hover {
    color: darken($linkColor, 13%);
  }
}

iframe {
  max-width: 100%;
}

.youtube-container iframe {
  max-height: 60vw;
}

.breadcrumb {
  font-size: $baseFontSize * 0.93;
}

.copyright, .form-item .description {
  font-size: $baseFontSize * 0.90;
}

.comment-submitted {
  font-size: $baseFontSize * 0.88;
}

@media (min-width: 992px) {
  .col-md-3 {
    width: 30%;
  }

  .col-md-9 {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .menu-base-theme {
    li a {
      color: $baseFontColor;
      background-color: #EEE;
      margin-bottom: 1px;

      &:hover, &:active {
        color: #444;
        background-color: #DFDFDF;
      }

      &.is-active {
        background-color: $linkColor;
        color: #FFF;
      }
    }
  }
}

.region-header .site-name {
  padding-top: 4px;
  max-width: 200px;
  line-height: 140%;
}

.region-header .logo img {
  min-width: 40px;
}

.js-form-type-radio > label,
.js-form-type-checkbox > label {
  display: inline;
}

.dcc-training-start .form-item-training-start-date-date,
.dcc-training-start .form-item-training-start-date-time,
.dcc-training-end .form-item-training-end-date-date,
.dcc-training-end .form-item-training-end-date-time {
  display: inline;
}

.main-header nav {
  z-index: 500;
}

.next-btn {
  float: right;
}

.back-btn {
  float: right;
  margin-right: 4px;
}

.big-btn {
  padding: 10px 20px;
  background-color: $linkColor;
  color: #FFF;
  display: inline-block;
  text-align: center;
  font-size: $baseFontSize * 1.15;
  font-weight: 600;
  transition: background-color 0.15s, color 0.15s;

  &:hover {
    background-color: scale_color($linkColor, lightness, 15%);
    color: mix($linkColor, #FFF, 5%);
  }

  &.full-width {
    display: block;
  }
}