html, body {
  height: 100%;
  position: relative;
}

.main-wrapper {
  display: table;
  height: 100%;
  width: 100%;

  > div.content-wrapper {
    height: 100%;
  }

  > div {
    display: table-row;
  }
}
