@import "../variables";

#block-upcommingevents, #block-upcommingevents-2 {
  .content {
    box-sizing: border-box;
    position: relative;
  }

  .field--name-body {
    p {
      position: relative;
    }

    p.separator {
      display: block;
      position: absolute;
      left: 0;
      background: $mainBgColor;
      height: 13px;
      width: 100%;
    }

    p.separator + p {
      margin-top: 45px;
    }

    p.separator + p:after, p:first-child:after {
      display: block;
      position: absolute;
      top: -4px;
      right: -5px;
      content: "#";
      color: $mainBgColor;
      font-size: 20px;
    }
  }
}