@media screen and (min-width: 600px) {
  .gtd--dates, .gtd--schedule {
    display: table;
    table-layout: fixed;
    width: 100%;

    > div {
      display: table-cell;
      border-left: 1em solid transparent;
      border-top: 1em solid transparent;

      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-top: 0;
      }
    }
  }

  .gtd--dates {
    time {
      width: 43%;
      
      &:first-child {
        float:left;
      }
      
      &:last-child {
        float: right;
      }
    }
  }
}
