<div>
  <div class ="popup-content info">
    <div id="popup-text">
      {{ message }}
    </div>
    <div id="popup-buttons">
      <button type="button" class="agree-button">{{ agree_button }}</button>
    </div>
  </div>
</div>
