@media (min-width: 992px) {
    .col-md-3 {
        width: 30%;
    }
    .col-md-9 {
        width: 70%;
    }
}

.region-header .site-name{
    padding-top: 4px;
    max-width: 200px;
    line-height: 140%;
}

.region-header .logo img {
    min-width: 40px;
}