<div class="carousel slide" data-ride="carousel" id="myCarousel">
    <ol class="carousel-indicators">
        {% for i in 0..rows|length-1 %}
            {% if i == 0 %}
                <li class="active" data-slide-to="0" data-target="#myCarousel">
                    &nbsp;</li>
            {% else %}
                <li data-slide-to="i" data-target="#myCarousel">&nbsp;</li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for row in rows %}
            {% if row == rows|first %}
                <div class="item active">
                    {{ row.content }}
                </div>
            {% else %}
                <div class="item">
                    {{ row.content }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
